.fa-2x{
    color:#198754;
    height: 30px;
}
.cartWidget{
    display: flex;
}
.totalProducts{
    width: 10px;
}
span{
    color:#198754;
    font-size: larger;
    font-weight: 600;
}
:any-link {
    text-decoration: none;
}
