.buttonMinus{
    margin-right: 15px;
    border: none;
    color: #1183ca;
}
.buttonPlus{
    margin-left: 15px;
    border: none;
    color: #1183ca;
}
.counterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counterNumber{
    font-size: large;
    margin-top: 15px;
}
.fa{
    width: 20px;
    height: 20px;
}
.buttonAddToCart{
    margin-left: 10px;
    border-radius: 5px;
}
.secondaryButtons{
    display: flex;
}